<form class="form-horizontal img-rounded" method="post" id="searchForm">
    <div id="formDiv padContent">
        <div class="row" >
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
             
        
                <br>
        <div class="row ">

            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0"><i class="fa fa-calendar-check-o"></i><span>Check-In:</span>
                <input class="form-control" type="date" min="{{date}}" max ="2018-12-31" name="txt_checkInDate" required="" [(ngModel)] ="checkIn">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-calendar-times-o"></i><span>Check-Out:</span>
                <input class="form-control" type="date" min="2018-04-30" max ="2019-12-31" name="txt_checkOutDate" required="" [(ngModel)] = "checkOut">
            </div>
            <br>
            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0" >
                <button class="btn btn-primary btn-block bookingButtons" type="button" id="searchButton" (click) = "checkAvailability(checkIn,checkOut)">Check Availability <span class="glyphicon glyphicon-calendar"></span></button>
            </div>
        </div>
<br>
<div class="row" >
           <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0">
                <div >
<span>Adults:</span>
                    <select class="form-control Search" required="">
                        <optgroup label="Adults">
                            <option value="1">1 Adult</option>
                            <option value="2">2 Adults</option>
                            <option value="3">3 Adults</option>
                            <option value="4">4 Adults</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div >
<span>Children:</span>
                    <select class="form-control Search" required="">
                        <optgroup label="Children">
                            <option value="1">1 Child</option>
                            <option value="2">2 Chlidren</option>
                            <option value="3">3 Children</option>
                            <option value="4">4 Children</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div >
<span>Rooms:</span>
                   <select class="form-control Search" required="">
                        <optgroup label="Rooms">
                            <option value="1">1 Room</option>
                            <option value="2">2 Rooms</option>
                            <option value="3">3 Rooms</option>
                            <option value="4">4 Rooms</option>
                        </optgroup>
                    </select>
                </div>
            </div>
</div>
        </div>
        </div>
      
<br>

        
         
       
    </div>
    <br>
</form>
