<div class="container ">
<footer class="site-footer">
   
        <hr>
        <div class="row padContent">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <h5>Booking.com © 2018</h5></div>
                
      
                <div *ngIf ="admin == Admin " class="col-lg-4 col-md-4 col-sm-4 " >
                   <p class = "text-right"><app-admin-sign-in-form></app-admin-sign-in-form></p> 

           </div>
   
    </div>
    <br>
    <p>Booking.com is part of Booking Holdings Inc., the world leader in online travel and related services.
    </p><br>
    <ul class ="navList list-inline">
    
        <li><img src="../../../assets/img/footer1.png" alt=""> </li>
       
       <li><img src="../../../assets/img/footer2.png" alt=""> </li>
     <li> <img src="../../../assets/img/footer3.png" alt=""></li>
       
       <li><img src="../../../assets/img/footer4.png" alt=""> </li>
       <li> <img src="../../../assets/img/footer5.png" alt=""></li>
       
       <li><img src="../../../assets/img/footer6.png" alt=""> </li>
      
   </ul>

</footer> </div>