

<div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1" >
    
    
      
        <div id="pretoria" class="padContent2 display">
      
      
      
     <h2 class="text-left" id="provinceHeader">Pretoria </h2>
            
    <br class="space">
    <br class="space">
    
    
    
        <!-- <div  align ="right">
    <div class = "averagePrices">
    <div align ="right">
    <br>
    <span class="averagePrice"><b>Average Price </b></span>
     <br>
    <span class="averagePrice">ZAR </span>
    <br>
    <br>
            </div>
    </div>
    </div>-->
    
    
    </div>
    
    </div>
    
    <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1" >
      
    
    
            
            
                <div id="Johannesburg" class="padContent2 display">
      
                    <h2 class="text-left" id="provinceHeader">Johannesburg </h2>
                   
        <br class="space">
        <br class="space">
    
    
    
                   <!-- <div  align ="right">
    <div class = "averagePrices">
    <div align ="right">
    <br>
    <span class="averagePrice"><b>Average Price </b></span>
     <br>
    <span class="averagePrice">ZAR </span>
    <br>
    <br>
            </div>
    </div>
    </div>-->
       
      </div>
           
    
    
    </div>
            
<div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 " >
         
                
        <div id="santon" class="padContent2 display">
   
   
   <h2 class="text-left" id="provinceHeader">Santon </h2>
            <br class="space">
            <br class="space">
    
    <!--<div  align ="right">
    <div class = "averagePrices">
    <div align ="right">
    <br>
    <span class="averagePrice"><b>Average Price </b></span>
     <br/>
    <span class="averagePrice">ZAR </span>
    <br>
    <br>
            </div>
    </div>
    </div>-->

    </div>
    
  
  </div>
 
