<form class="formDisplay padContent">
    <div class="padContent">

   <div class="row">
       <div class="col-lg-3 col-md-3"><span>Facility </span>
           <input class="form-control" type="text" name="txt_facility">
       </div>
       <div class="col-lg-2 col-md-2">
<br> 
           <button class="btn btn-default btn-block bookingButtons2" type="button" id="addFacility">Add facility</button>
       </div>
   </div>
   <div class="row">
       <div class="col-lg-3 col-md-3">
          <span>Language </span> <input class="form-control" type="text" name="txt_facility">
       </div>
       <div class="col-lg-2 col-md-2">
<br> 
           <button class="btn btn-default btn-block bookingButtons2" type="button" id="addlanguage">Add language</button>
       </div>

   </div>
<div class="row">
       <div class="col-lg-3 col-md-3">
          <span>House Rules </span> <input class="form-control" type="text" name="txt_facility">
       </div>
       <div class="col-lg-2 col-md-2">
<br> 
           <button class="btn btn-default btn-block bookingButtons2" type="button" id="addRules">Add Rules</button>
       </div>

   </div>
<br>
</div>
</form>